// Color scheme
$primary: #F54040;
$primary-light: rgba($primary, 0.1);
$foreground: white;
$text: black;
$text-light: rgba($text, 0.6);

// Font weight values
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 500;
$weight-black: 900;

// Dimensions
$page-width: 1024px;
$small-devices: 750px;
$radius: 10px;
$icon-size: 16px;

// Others
$font-family: "Ubuntu", arial, sans-serif;

// STATIC
$location-STATIC: url('static/res/location.svg');
$email-STATIC: url('static/res/email.svg');
$phone-STATIC: url('static/res/phone.svg');
$github-STATIC: url('static/res/github.svg');
$web-STATIC: url('static/res/web.svg');
$playstore-STATIC: url('static/res/playstore.svg');
$pdf-STATIC: url('static/res/pdf.svg');
$markdown-STATIC: url('static/res/markdown.svg');



// Imports
@import 'styles/base';

@import 'styles/header';
@import 'styles/footer';

@import 'styles/index';
@import 'styles/resume';
@import 'styles/projects';
@import 'styles/project_details';
@import 'styles/print';
