#header {
    display: flex;
    align-items: center;
    .title {
        flex: 1;
        font-size: 1.9em;
        @media only screen and (max-width: $small-devices) {
            font-size: 1.5em;
        }
        @media print {
            font-size: 3em;
        }
        a {
            font-weight: $weight-black;
            text-decoration: none;
        }
    }
    .menu {
        list-style-type: none;
        padding: 0;
        li {
            display: inline-block;
        }
        li a {
            display: inline-block;
            padding: 5px;
            margin: 0 10px;
            text-decoration: none;
            color: inherit;
            font-weight: $weight-bold;
        }
    }
    .selected {
        position: relative;
    }
    .selected::after { // small border bottom
        content: "";
        position: absolute;
        height: 3px;
        background: $primary;
        top: 100%;
        width: 35px;
        left: 50%;
        transform: translateX(-50%);
    }
}
