$spacing: 35px;
$small-spacing: 15px;
#resume-wrapper {
    margin-top: 15px;
    @media print {
        margin-top: 0;
    }
    h2 {
        position: relative;
        margin: $spacing 0 8px 0;
        padding: 0;
        @media print {
            margin: 0 0 8px 0;
        }
    }
    h2:after { // small border bottom
        content: "";
        position: absolute;
        height: 3px;
        background: $primary;
        top: 100%;
        width: 35px;
        left: 0;
    }
    header {
        .main-description {
            font-weight: $weight-light;
            margin: $small-spacing 0;
        }
        .contact-info {
            list-style-type: none;
            padding: 0;
            margin: 0 0 $spacing 0;
            a {
                text-decoration: none;
            }
        }
        @media print {
            display: flex;
            align-items: flex-start;
            h1 {
                margin: 0;
            }
            .main-info {
                flex: 1;
            }
            .contact-info {
                margin-bottom: 12px;
                li {
                    margin-right: 30px;
                }
            }
            .main-description {
                font-weight: $weight-light;
                margin: 0;
            }
        }
    }

    .education {
        > ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: $small-spacing;
                display: grid;
                grid-template-areas: "details date";
                gap: 20px;
                @media only screen and (max-width: $small-devices) {
                    display: block;
                }
                .date {
                    grid-area: date;
                    text-align: right;
                    font-weight: $weight-bold;
                }
                .details {
                    grid-area: details;
                    .school, .formation, .description {
                        margin: 0;
                        padding: 0;
                        font-size: 1em;
                    }
                    .school, .formation {
                        display: inline;
                    }
                    .formation:after {
                        content: ", ";
                    }
                    .formation {
                        font-weight: $weight-bold;
                    }
                    .school {
                        color: $text-light;
                        font-weight: $weight-regular;
                        font-style: italic;
                    }
                    .description {
                        margin-top: 5px;
                        font-size: 0.9em;
                        color: $text-light;
                    }
                }
            }
        }
    }
    .skills {
        > ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                margin-bottom: $small-spacing;
                display: grid;
                grid-template-areas: "category skills";
                grid-template-columns: 200px auto;
                gap: $small-spacing;
                // align-items: center;
                @media only screen and (max-width: $small-devices) {
                    display: block;
                }
            }
            .title, .details {
                margin: 0;
                padding: 0;
                font-size: 1em;
            }
            .title {
                grid-area: category;
                font-weight: $weight-bold;
                text-align: right;
                @media only screen and (max-width: $small-devices) {
                    text-align: left;
                }
            }
            .details {
                grid-area: skills;
                font-weight: $weight-light;
                display: flex;
                align-items: center;
            }
        }
    }
    .projects {
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                margin-bottom: $small-spacing;
                .type, .title, .description, .stack {
                    margin: 0;
                    padding: 0;
                    font-size: 1em;
                }
                .type {
                    font-weight: $weight-bold;
                    color: $text-light;
                }
                .title, .description {
                    display: inline;
                }
                .title {
                    font-weight: $weight-bold;
                }
                .stack {
                    margin-top: 5px;
                }
                .description {
                    font-style: italic;
                }
                .description, .stack {
                    color: $text-light;
                }
            }
        }
    }
}
